* { 
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	background:url(https://i.imgsafe.org/e6ffc65342.jpg);
	font: 14px/20px Arial, San-Serif;
	margin: 0;
}
div#myheader {
  height: 100px;
  background: #D2E9FF;
  border-bottom: #09F 1px solid;
}

div#logo {
  height: 75px;
  border: #09F 1px dashed;
  font-size: 44px;
  padding: 0px 12px;
}

div#headermenusystem {
  margin-left: 16px;
  float:right;
}

div#headermenusystem > div {
  float: left;
  margin: 20px 20px;
}

div.dropmenus {
  display: none;
  position: absolute;
  top: 100px;
  width: 120px;
  background: #D2E9FF;
  z-index: 2;
  padding: 4px;
  border: #0385CB 3px solid;
  border-top: none;
  -moz-border-radius: 0px 0px 8px 8px;
  border-radius: opx opx 8px 8px;
}

div.dropmenus > a {
  display: block;
  margin: 4px;
  padding: 7px;
  font-size: 14px;
  text-decoration: none;
  background: #E8E8E8;
  border: #666 1px solid;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000;
}

div.dropmenus > a:hover {
  background: #FFF;
  border: #06F 1px solid;
  color: #000;
}

div#restofpage {

}

#logo2 {
	position: relative;
	float:left;
	transform: scale(0.80, 0.80);
	width: 250px;
	height: 100px;
	background: url(https://i.imgsafe.org/95b77dea57.jpg);
	opacity: 0.90;
}
p {
	padding: 1%
}

img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}
a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #FFF;
	text-decoration: underline;
}


.current {
	color: #FFF;
	text-decoration: underline;
}

footer {
	background: #333333;
	width: 100%;
	height:50px;
	overflow: hidden;
	opacity: 0.90;
	position: fixed;
	bottom: 0;
	left: 0;
}
footer p, footer h3 {
	color: #FFF;
}
b{
	font-size:30px;
	color: #eef203;
}
footer p a {
	color: #FFF;
	text-decoration: none;
}

/*--------------------------------MEDIA!!!-----------------------*/
@media screen and (max-width: 478px) {
	body {
		position: absolute;
	}
}
@media screen and (max-width: 478px) {
	header {
		position: absolute;
	}
	#menu-icon {
		display: inline-block;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #405580;
		border: 1px solid #FFF;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 2px 0 2px 2px;
	}
}

/*--------------------------Card--------------------*/

h4 {
margin: 0;
font-size: 25pt;
}

#toy{
	float: left;

}

.card {
float:left;
position: relative;
color: #fff;
text-align: center;
line-height: 200px;
background: #66bc1e;
width: 200px;
height: 200px;
transition: all 0.6s ease;
transform-style: preserve-3d;
}

.card1 {
float:left;
position: relative;
color: #fff;
text-align: center;
line-height: 200px;
background: #8a633e;
width: 200px;
height: 200px;
transition: all 0.6s ease;
transform-style: preserve-3d;
}

.card2 {
float:left;
position: relative;
color: #fff;
text-align: center;
line-height: 200px;
background: #4e631e;
width: 200px;
height: 200px;
transition: all 0.6s ease;
transform-style: preserve-3d;
}

.card3 {
float:left;
position: relative;
color: #fff;
text-align: center;
line-height: 200px;
background: #74c31e;
width: 200px;
height: 200px;
transition: all 0.6s ease;
transform-style: preserve-3d;
}

.card:hover {
transform: rotateY(180deg);
}

.card1:hover {
transform: rotateY(180deg);
}

.card2:hover {
transform: rotateY(180deg);
}

.card3:hover {
transform: rotateY(180deg);
}

#popup-container{
background-color:#FFF;
padding: 20px;
border-radius: 4px;
  z-index: 2;
}

#popup-wrapper{
position: fixed;
top:40px;
left:185px;
width: 200px;
height: 300px;
margin: 30px auto;
text-align: left;
color: #000;
  z-index: 2;

}

.popup-position {
display:none;
position: fixed;
top: 0px;
left: 0px;
background-color: rgba(5,5,5,0.7);
width: 100%;
height: 100%;
}


.front, .back {
position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
backface-visibility: hidden;
}

.back {
transform: rotateY(180deg);
}
.mouse{
	width: 200px;
	height: 200px;
	cursor:pointer;
}
.keyboard{
	background-color: #000;
	color: #FFF;
}
#title{
	font-size:3em;
	line-height:30pt;

	
}
