* { 
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	background-image:url(https://i.imgsafe.org/e6fd822662.jpg);
	font: 14px/20px Arial, San-Serif;
	margin: 0;
	overflow-x:hidden;
}
div#myheader {
  height: 100px;
  background: #D2E9FF;
  border-bottom: #09F 1px solid;
}

div#logo {
  height: 75px;
  border: #09F 1px dashed;
  font-size: 44px;
  padding: 0px 12px;
}

div#headermenusystem {
  margin-left: 16px;
  float:right;
}

div#headermenusystem > div {
  float: left;
  margin: 20px 20px;
}

div.dropmenus {
  display: none;
  position: absolute;
  top: 100px;
  width: 120px;
  background: #D2E9FF;
  z-index: 2;
  padding: 4px;
  border: #0385CB 3px solid;
  border-top: none;
  -moz-border-radius: 0px 0px 8px 8px;
  border-radius: opx opx 8px 8px;
}

div.dropmenus > a {
  display: block;
  margin: 4px;
  padding: 7px;
  font-size: 14px;
  text-decoration: none;
  background: #E8E8E8;
  border: #666 1px solid;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000;
}

div.dropmenus > a:hover {
  background: #FFF;
  border: #06F 1px solid;
  color: #000;
}

div#restofpage {
padding:2%;
}

#logo2 {
	position: relative;
	float:left;
	transform: scale(0.80, 0.80);
	width: 250px;
	height: 100px;
	background: url(https://i.imgsafe.org/95b77dea57.jpg);
	opacity: 0.90;
}
p {
	padding: 1%
}

img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}

a:hover {
	color: #FFF;
	text-decoration: underline;
}

footer {
	background: #333333;
	width: 100%;
	height:50px;
	overflow: hidden;
	opacity: 0.90;
	position: fixed;
	bottom: 0;
	left: 0;
}
footer p, footer h3 {
	color: #FFF;
}
b{
	font-size:30px;
	color: #eef203;
}
footer p a {
	color: #FFF;
	text-decoration: none;
}
section{
text-align:center;
}
.pa2 {
display:inline;
line-height:50px;
word-spacing:4px;
letter-spacing:2px;
font-size:28px;
color:#ffffff;
background-color:rgba(50,50,50,0.9);
text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
font-family:"Arial Black", Gadget, sans-serif;
}
.pa {
display:inline;
line-height:50px;
word-spacing:4px;
letter-spacing:2px;
font-size:20px;
color:#ffffff;
background-color:rgba(50,50,50,0.5);
text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
font-family:"Arial Black", Gadget, sans-serif;
}
#do{
margin:5px 0;
position:relative;
left:10px;
}
#dodo{
margin:5px 0;
position: relative;
left:10px;
}
strong{
color:white;
}
.para{
font-family: Tahoma, Geneva, sans-serif;
color:#008B8B;
font-size: 18px;
font-weight: bolder;
word-spacing: 4px;
letter-spacing: 3px;
text-shadow: 2px 2px 1px red;
background-image: url("https://i.imgsafe.org/e6fce7eff0.jpg");
}
hr {
border-color: #CDC9C9;
}
.img {
width:450px;
height:450px;
}
.chair{
color: ##D9D9F3;
text-shadow: 2px 2px 1px #855E42;
font-family:"Arial Black", Gadget, sans-serif;
font-size: 30pt;
background-image:url(https://i.imgsafe.org/29553f3d9a.jpg);
line-height:40pt;
}
a{
font-size:16px;
letter-spacing:2px;
font-weight: bold;
background-color:PapayaWhip;
	color: #000;
}
h1{
	font-size:4em;
color:#8C1717;
text-align: center;
font-family:"Arial Black", Gadget, sans-serif;
line-height: 40pt;
}

#cont{
margin-left:-20px;
float:left;
position: relative;
}

/*--------------------------------MEDIA!!!-----------------------*/
@media screen and (max-width: 478px) {
	body {
		position: absolute;
	}
}
@media screen and (max-width: 478px) {
	header {
		position: absolute;
	}
	#menu-icon {
		display: inline-block;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #405580;
		border: 1px solid #FFF;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 2px 0 2px 2px;
	}
}
/*--------------------------Card--------------------*/

.card-container {

}
.card-container2 {


}
.card {
position: relative;
color: #fff;
text-align: center;
line-height: 200px;
background: #66bc1e;
width: 200px;
height: 200px;
transition: all 0.6s ease;
transform-style: preserve-3d;
}
.card1 {
position: relative;
color: #fff;
text-align: center;
line-height: 200px;
background: #8a633e;
width: 200px;
height: 200px;
transition: all 0.6s ease;
transform-style: preserve-3d;
}
.card2 {
position: relative;
color: #fff;
text-align: center;
line-height: 200px;
background: #4e631e;
width: 200px;
height: 200px;
transition: all 0.6s ease;
transform-style: preserve-3d;
}
.card3 {
position: relative;
color: #fff;
text-align: center;
line-height: 200px;
background: #74c31e;
width: 200px;
height: 200px;
transition: all 0.6s ease;
transform-style: preserve-3d;
}
.card:hover {
transform: rotateY(180deg);
}
.card1:hover {
transform: rotateY(180deg);
}
.card2:hover {
transform: rotateY(180deg);
}
.card3:hover {
transform: rotateY(180deg);
}
#popup-container{
background-color:#FFF;
padding: 20px;
border-radius: 4px;
}
#popup-wrapper{
position: fixed;
top:70px;
left:220px;
width: 175px;
height: 200px;
margin: 30px auto;
text-align: left;
color: #000;
}
.popup-position {
display:none;
position: fixed;
top: 0px;
left: 0px;
background-color: rgba(5,5,5,0.7);
width: 100%;
height: 100%;
}
.front, .back {
position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
backface-visibility: hidden;
}
.back {
transform: rotateY(180deg);
}
.mouse{
	width: 200px;
	height: 200px;
	cursor:pointer;
}
.keyboard{
	background-color: #000;
	color: #FFF;
}
