* {
    box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}
body{
background: linear-gradient(#1B3F8B, #8B8989, #380474);
width: 100%;
height: 100%;
font: 14px/20px Arial, San-Serif;
margin: 0;
line-height:30px;
}
div#myheader {
  height: 100px;
  background: #D2E9FF;
  border-bottom: #09F 1px solid;
}

div#logo {
  height: 75px;
  border: #09F 1px dashed;
  font-size: 44px;
  padding: 0px 12px;
}

div#headermenusystem {
  margin-left: 16px;
  float:right;
}

div#headermenusystem > div {
  float: left;
  margin: 20px 20px;
}

div.dropmenus {
  display: none;
  position: absolute;
  top: 100px;
  width: 120px;
  background: #D2E9FF;
  z-index: 2;
  padding: 4px;
  border: #0385CB 3px solid;
  border-top: none;
  -moz-border-radius: 0px 0px 8px 8px;
  border-radius: opx opx 8px 8px;
}

div.dropmenus > a {
  display: block;
  margin: 4px;
  padding: 7px;
  font-size: 14px;
  text-decoration: none;
  background: #E8E8E8;
  border: #666 1px solid;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000;
}

div.dropmenus > a:hover {
  background: #FFF;
  border: #06F 1px solid;
  color: #000;
}

div#restofpage {
  padding: 36px;
}

#logo2 {
	position: relative;
	float:left;
	transform: scale(0.80, 0.80);
	width: 250px;
	height: 100px;
	background: url(https://i.imgsafe.org/95b77dea57.jpg);
	opacity: 0.90;}
}
table {
margin:7%;
position: absolute;
top:80px;
left: 8px;
float: left;
color:#fff;
border:1px solid black;
background-image:url(https://i.imgsafe.org/e6fd822662.jpg);
width: 50%;
}
th,td,tr{
color:#fff;
border:1px solid black;
font-size:1em;
height:50px;
width: 95px;
border-collapse: collapse;

}
.clinton{
background: rgba(0, 0, 100, 0.7);
}
.trump{
background: rgba(100, 0, 0, 0.7);
}
.johnson{
background: rgba(100, 100, 0, 0.7);
}
.stein{
background: rgba(0, 100, 0, 0.7);
}
.other{
background: rgba(100, 100, 100, 0.7);
}
.button1{
background: rgba(10, 10, 50, 1.0);
width: 100%;
height:80%;
}
.button2{
background: rgba(50, 10, 10, 1.0);
width: 100%;
height:80%;
}
.button3{
background: rgba(50, 50, 10, 1.0);
width: 100%;
height:80%;
}
.button4{
background: rgba(0, 50, 0, 1.0);
width: 100%;
height:80%;
}
.button5{
background: rgba(25, 25, 25 1.0);
width: 100%;
height:80%;
}
#buttonn{
float: left;
width:150px;
height:150px;
border-radius: 180px;
border-color:black;
font-size:1em;
color:#000;
background-color: #757575;
margin-left: 50px;
margin-right: 50px;
margin-top:50px;
}
#side {
position: relative;
float: left;
width: 50%;
font-size: 1.5em;
color:#000;
text-align: left;
}
#scoreboard{
position: absolute;
bottom:30px;
left: 90px;
float: left;
color:#000;
border:1px solid black;
background-image:url(https://i.imgsafe.org/6533bc064f.jpg);
width:50%;
font-size:2em;
margin:1%;
}

footer {
	background: #333333;
	width: 100%;
	height:50px;
	overflow: hidden;
	opacity: 0.90;
	position: fixed;
	bottom: 0;
	left: 0;
}
footer p, footer h3 {
	color: #FFF;
}
b{
	font-size:30px;
	color: #eef203;
}
footer p a {
	color: #FFF;
	text-decoration: none;
}
a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #FFF;
	text-decoration: underline;
}
header {
	background: rgba(8,0,0,0.1);
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity:0.90;
}
nav {
	float: right;
	padding: 35px 20px 20px 0;
}

ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	float: left;
	padding: 10px;
}
.current {
	color: #FFF;
	text-decoration: underline;
}
