* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}
body{
	background: linear-gradient(#339966, #669933, #993366);
	font: 14px/20px Arial, San-Serif;
	line-height:30px;
}
div#myheader {
  height: 100px;
  background: #D2E9FF;
  border-bottom: #09F 1px solid;
}

div#logo {
  height: 75px;
  border: #09F 1px dashed;
  font-size: 44px;
  padding: 0px 12px;
}

div#headermenusystem {
  margin-left: 16px;
  float:right;
}

div#headermenusystem > div {
  float: left;
  margin: 20px 20px;
}

div.dropmenus {
  display: none;
  position: absolute;
  top: 100px;
  width: 120px;
  background: #D2E9FF;
  z-index: 2;
  padding: 4px;
  border: #0385CB 3px solid;
  border-top: none;
  -moz-border-radius: 0px 0px 8px 8px;
  border-radius: opx opx 8px 8px;
}

div.dropmenus > a {
  display: block;
  margin: 4px;
  padding: 7px;
  font-size: 14px;
  text-decoration: none;
  background: #E8E8E8;
  border: #666 1px solid;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000;
}

div.dropmenus > a:hover {
  background: #FFF;
  border: #06F 1px solid;
  color: #000;
}

div#restofpage {
  padding: 36px;
}
#logo2 {
	position: relative;
	float:left;
	transform: scale(0.80, 0.80);
	width: 250px;
	height: 100px;
	background: url(https://i.imgsafe.org/95b77dea57.jpg);
	opacity: 0.90;
}
.cat{
	color:#fcfcfc;
	font-size:1.5em;
	
}
h1{
	padding:1%;
	color:#104E8B;
	font-size:3em;
	text-align:center;
}

#instruct {
	background-color: #000;
	margin:5%;
}

#rules {
	color: #8af;
	font-size: 2em;
	margin:5%;
}

#yin{
	background-color: #111999;
}
#yang{
	background-color:#999111;
}
#correct{
	background-color: #fff;	
	font-size: 2em;
	color:#78AB46;
}
#wrong {
	background-color: #fff;
	font-size: 2em;
	color:#CC1100;
}
button {
	height:70px;
	width:70px;
	border: solid gold 2px;
	border-radius: 35px;
	background: #FCFCFC;
	
}
.button2, .button1, .button0{
	background-color: silver;
}


.button3 {
	background-color: silver;
}

footer {
	background: #333333;
	width: 100%;
	height:50px;
	overflow: hidden;
	opacity: 0.90;
	position: fixed;
	bottom: 0;
	left: 0;
}
footer p, footer h3 {
	color: #FFF;
}
b{
	font-size:30px;
	color: #eef203;
}
footer p a {
	color: #FFF;
	text-decoration: none;
}
a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #FFF;
	text-decoration: underline;
}
header {
	background: rgba(8,0,0,0.1);
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity:0.90;
}
nav {
	float: right;
	padding: 35px 20px 20px 0;
}

ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	float: left;
	padding: 10px;
}
.current {
	color: #FFF;
	text-decoration: underline;
}